// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Princess Sofia', cursive;
}

@font-face {
  font-family: 'OpenSans';
  src: url(/fonts/OpenSans-Light.ttf);
}

* {
  font-family: OpenSans
}
