// app global css in SCSS form
@font-face {
  font-family: 'Waltography';
  src: url(../assets/fonts/Waltograph42.otf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Waltography;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../assets/fonts/OpenSans-Light.ttf);
}

* {
  font-family: OpenSans
}
